.app-header {
  height: 40px;
  position: relative;
  width: 100%;
  background-color: dodgerblue;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .5%;

  a {
    text-decoration: none;
    color: white;
  }
}

body {
  margin: 0;
}