<p>
  game-board works!
</p>
<p>
  Hello {{userName}}
</p>

<div class="board">
  <div class="question">
    <div>{{(question$ | async)?.question}}</div>
    <div>{{(question$ | async)?.proposedAnswer}}</div>
    <button [disabled]="!(isUserCanVote$ | async)" (click)="answer('yes')">Yes</button>
    <button [disabled]="!(isUserCanVote$ | async)" (click)="answer('no')">No</button>
  </div>
  <div class="users">
    <ul>
      <li *ngFor="let user of users$ | async as users;">
        <label [ngClass]="{'active': user.type === 1, 'inactive': user.type === 2}"><b>Name:</b> {{user.name}} <b>score:</b> {{user.score}}</label>
        <span class="inactive" *ngIf="user.type === 2"> (wait)</span>
      </li>
    </ul>
  </div>
</div>

<!-- <div class="board">
  <label>{{question.label}}</label>
  <ul>
    <li *ngFor="let o of question.options">
      {{o.label}}
    </li>
  </ul>
</div> -->